
body{
    background-color: #736efe ;
    background: linear-gradient(110deg, #5efceb , #736efe );
    text-align: center;
}

.Intro{
    color: white;
    text-align: center;
}
p{
    font-size: 150%;
}

.name{
    margin-top: 2%; 
   
}
.mail{
    margin-top: 2%;
    
}
.coun{
    margin-top: 2%;
    
}
.no{
    margin-top: 2%;
   
}
.pos{
    margin-top: 2%;
    
}
.com{
    margin-top: 2%;
    
    
}
.sug{
    margin-top: 2%;
}
.btn {
    padding: 1% 3.5%;
    background: white;
    color: Black;
    cursor: pointer;
    margin-top: 2%;
    font-weight: bold;
    font-size:100%;
    border-radius: 5%;
    
  }
  
.Con{
    color: white;
}

.Con i{
    color: rgb(27, 26, 26);
}